.gradle
build
bin
.idea
*.iml
*.ipr
*.iws
.settings
.classpath
.project
.vscode
nbproject
out
*.log
*.swp
*.swo
*~
.DS_Store
.git
.gitignore
README.md
.env
.env.*
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

